body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 16px;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #000;
}

.subtitle {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.button {
  background: #0077C0;
  border-radius: 4px;
  color: #fff;
  padding: 6px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 16px;
}

.header {
  padding: 60px 0 42px;
}
.header__container {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__text {
  width: 50%;
}
.header__images {
  position: relative;
  width: 50%;
  align-self: flex-end;
  text-align: center;
}
.header__icon {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.header__title {
  font-size: 42px;
}
@media (max-width: 768px) {
  .header__title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .header__title {
    font-size: 20px;
  }
}
.header__desc {
  margin-top: 12px;
  font-size: 14px;
  line-height: 21px;
}
.header__button {
  margin-top: 15px;
}
.header__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
}
@media (max-width: 576px) {
  .header__brand {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header__brand img {
    margin-bottom: 5px;
  }
}

.nav {
  padding: 11px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: block;
}
.nav__logo img {
  width: 100px;
}

.feature {
  background: #0077C0;
  padding: 35px 0 59px;
}
.feature__desc {
  color: #fff;
}
.feature__container {
  display: flex;
  flex-wrap: wrap;
}
.feature__title {
  margin-bottom: 34px;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.skill {
  width: 32%;
}
.skill:not(:last-of-type) {
  margin-right: 10px;
}
.skill__title {
  color: #fff;
  margin-bottom: 7px;
  font-size: 20px;
}
.skill__intro {
  color: #fff;
  font-size: 14px;
}
.skill__image {
  margin-bottom: 21px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #C7EEFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .skill__title {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .skill {
    width: 100%;
  }
  .skill:not(:last-of-type) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.tutorial {
  padding: 30px 0 32px;
}
.tutorial__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tutorial__title {
  margin-bottom: 14px;
}
@media (max-width: 576px) {
  .tutorial__img {
    display: none;
  }
}

.talent-list__item {
  font-size: 14px;
  position: relative;
  padding-left: 21px;
}
.talent-list__item:not(:last-of-type) {
  margin-bottom: 10px;
}
.talent-list__item::before {
  content: "1";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  background-color: #C7EEFF;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  line-height: 18px;
  transform: translateY(-50%);
}
.talent-list__item:nth-child(2)::before {
  content: "2";
}
.talent-list__item:nth-child(3)::before {
  content: "3";
}
.talent-list__item:nth-child(4)::before {
  content: "4";
}
.talent-list__item:nth-child(5)::before {
  content: "5";
}

.research {
  background: #C7EEFF;
  padding-top: 13px;
}
.research__container {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .research__container {
    flex-wrap: wrap;
  }
}
.research__text {
  width: 50%;
}
@media (max-width: 576px) {
  .research__text {
    width: 100%;
  }
}
.research__images {
  position: relative;
  width: 50%;
  align-self: flex-end;
  text-align: center;
  z-index: 1;
  top: 7px;
}
@media (max-width: 576px) {
  .research__images {
    width: 100%;
  }
}
.research__icon {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.research__title {
  font-size: 21px;
}
.research__desc {
  margin-top: 6px;
  font-size: 14px;
  line-height: 21px;
}
.research__button {
  margin-top: 12px;
}

.comments {
  padding: 38px 0 30px;
  background: #FAFAFA;
}
.comments__desc {
  color: #0077C0;
}
.comments__container {
  display: flex;
  flex-wrap: wrap;
}
.comments__title {
  margin-bottom: 29px;
  font-size: 22px;
  text-align: center;
}

.comment {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  width: 32%;
  padding: 8px;
}
.comment:not(:last-of-type) {
  margin-right: 10px;
}
.comment__icons {
  display: flex;
  margin-top: 5px;
}
.comment__icons img {
  width: 12px;
}
.comment__intro {
  width: 100%;
  margin-top: 7px;
  line-height: 28px;
}
.comment__image {
  margin-right: 7px;
}
.comment__image img {
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .comment__title {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .comment {
    width: 100%;
  }
  .comment:not(:last-of-type) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.development {
  background: #0077C0;
  padding-top: 21px;
}
.development__container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.development__text {
  width: 50%;
}
@media (max-width: 576px) {
  .development__text {
    width: 100%;
    order: -1;
  }
}
.development__image {
  position: relative;
  width: 50%;
  align-self: start;
  top: 4px;
}
@media (max-width: 576px) {
  .development__image {
    width: 100%;
  }
}
.development__title {
  font-style: 21px;
  color: #fff;
  margin-top: 3px;
}
.development__button {
  background: #fff;
  color: #0077C0;
  margin-top: 10px;
}
.development__desc {
  color: #fff;
  text-align: start;
}

.footer {
  background: #1D242B;
  padding: 30px 0 28px;
}
.footer__container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer__social {
  display: flex;
  margin-top: 18px;
}
.footer__social a {
  width: 15px;
  height: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social a::before {
  content: "";
  position: absolute;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  opacity: 0.1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer__social a:not(:last-of-type) {
  margin-right: 7px;
}
.footer__copyright {
  color: #D9DBE1;
  font-size: 10px;
  margin-top: 17px;
}
.footer__intro {
  color: #fff;
}
.footer__email {
  display: flex;
  position: relative;
  padding: 4px 6px;
  margin-top: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer__email input, .footer__email button {
  outline: 0;
  background-color: transparent;
  border: 0;
}
.footer__email::before {
  content: "";
  position: absolute;
  background-color: #fff;
  display: block;
  border-radius: 3px;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer__info {
  margin-right: auto;
}
@media (max-width: 576px) {
  .footer__info {
    width: 100%;
    margin-bottom: 10px;
  }
}
.footer__menu {
  width: 15%;
}
@media (max-width: 576px) {
  .footer__menu {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .footer__subscription {
    width: 100%;
    margin-top: 10px;
  }
}

.menu-list {
  font-size: 12px;
  margin-top: 10px;
}
.menu-list__item:not(:last-of-type) {
  margin-bottom: 5px;
}
.menu-list a {
  color: #D9DBE1;
}/*# sourceMappingURL=main.css.map */