
@import "components/reset";
@import "components/variables";
@import "blocks/menu";

$lg: 1440px;
$mb: 1024px;
$sm: 768px;
$xs: 596px;


.header {
    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 64px 40px 0px 72px;
    }

    &__text {
        width: 50%;
        margin-top: 80px;
    }

    &__images {
        position: relative;
        width: 50%;
        align-self: flex-end;
        text-align: center;
        margin-top: 19px;
    }

    &__icon {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    &__title {
        font-size: 26.6px;
        width: 242.67px
    }

    &__desc {
        margin-top: 12px;
        font-size: 7px;
        line-height: 150%;
        width: 171.56px
    }

    &__button {
        font-size: 8px;
        margin-top: 15px;
    }

    &__brand {
        padding: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    padding: 11px 0;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: block;
    }
}


.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 21.3333px;
    line-height: 25px;
    color: #000;
}

.button {
    background: #0077C0;
    border-radius: 4.44444px;
    color: #fff;
    padding: 6px 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: 600;
    font-size: 8px;
}

.textes {
  text-align: center;
}


.feature {
    background:  #0077C0;

    &__desc {
        font-size: 7px;
        padding-top: 35px;
        color: white;
    }

    &__container {
        display: flex;
    }

    &__title {
        padding-bottom: 34px;
        color: white;
        font-size: 22px;
        padding-bottom: 17px;
    }
}

.skill {
    &__title {
        color: white;
        margin-bottom: 7px;
    }

    &__intro {
        color: white;
        font-size: 7px;
        margin-bottom: 59px;
    }

    &_images {
        margin-bottom: 21px;
    }
}

.tutorial {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        margin: 30px 52px 32px 72px;
    }

    &__content {
        margin-right: 72px;
    }
}

.talent-list {
    &__item {
        padding-bottom: 12px;
        font-size: 7px;
    } 
}

