
@import "components/reset";
@import "components/variables";
@import "blocks/menu";

$lg: 1440px;
$mb: 1024px;
$sm: 768px;
$xs: 596px;

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: $c-black;
}

.subtitle {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.button {
    background: $c-blue;
    border-radius: 4px;
    color: $c-white;
    padding: 6px 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: 600;
    font-size: 16px;
}

.header {
    padding: 60px 0 42px;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__text {
        width: 50%;
    }

    &__images {
        position: relative;
        width: 50%;
        align-self: flex-end;
        text-align: center;
    }

    &__icon {
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    &__title {
        font-size: 42px;
    }

    &__desc {
        margin-top: 12px;
        font-size: 14px;
        line-height: 21px;
    }

    &__button {
        margin-top: 15px;
    }

    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 42px;
    }
}

.nav {
    padding: 11px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $c-white;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;

        img {
            width: 100px;
        }
    }
}

.feature {
    background:  $c-blue;
    padding: 35px 0 59px;

    &__desc {
        color: $c-white;
    }

    &__container {
        display: flex;
    }

    &__title {
        margin-bottom: 34px;
        color: $c-white;
        font-size: 22px;
        text-align: center;
    }
}

.skill {
    &:not(:last-of-type) {
        margin-left: 10px;
    }

    &__title {
        color: $c-white;
        margin-bottom: 7px;
        font-size: 20px;
    }

    &__intro {
        color: $c-white;
        font-size: 14px;
    }

    &__image {
        margin-bottom: 21px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $c-light-blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.tutorial {
    padding: 30px 0 32px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        margin-bottom: 14px;
    }
}

.talent-list {
    &__item {
        font-size: 14px;
        position: relative;
        padding-left: 21px;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        &::before {
            content: '1';
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 18px;
            height: 18px;
            background-color: #C7EEFF;
            border-radius: 50%;
            font-size: 10px;
            font-weight: 600;
            text-align: center;
            line-height: 18px;
            transform: translateY(-50%);
        }

        &:nth-child(2) {
            &::before {
                content: '2';
            }
        }

        &:nth-child(3) {
            &::before {
                content: '3';
            }
        }

        &:nth-child(4) {
            &::before {
                content: '4';
            }
        }

        &:nth-child(5) {
            &::before {
                content: '5';
            }
        }
    }
}

